<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categoria</title>
    <link rel="stylesheet" href="styles/home.css" />
  </head>
  <body>
    <header>
      <nav class="nav-wrapper"></nav>
      <div class="categories-container"></div>
    </header>
    
    <main class="products-container">
    </main>
    <footer>
      &copy; 2026 Copyright. Todos los derechos reservados Clonemart 2026
    </footer>
    <script src="scripts/categorias.js" type="module"></script>
  </body>
</html>
