<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categoria</title>
    <link rel="stylesheet" href="../styles/home.css" />
  </head>
  <body>
    <!-- Contenedor del header con nav y categorias -->
    <header>
      <nav class="nav-wrapper"></nav>
      <div class="categories-container"></div>
    </header>
    <!-- Contenedor de productos filtrados por categoria -->
    <main class="products-container"></main>
    <!-- Importa el footer y la logica de categorias -->
    <script type="module" src="./components/footer.js"></script>
    <script src="../scripts/categorias.js" type="module"></script>
  </body>
</html>
