<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categoría</title>
    <link rel="stylesheet" href="../styles/home.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="../../index.html"
          ><img src="../media/images/logo.png" alt="" id="logo"
        /></a>
        <div class="form">
          <input type="search" name="search" id="search" />
        </div>
        <ul id="home-menu">
          <a class="home-item" href="./misProductos.html"><li>Mis Productos</li></a
          ><a class="home-item" href="./miCuenta.html"><li>Mi Cuenta</li></a
          ><a class="home-item" href="./misPedidos.html"> <li>Mis Pedidos</li> </a
          ><a class="home-item" href="./miCarrito.html"><li>Mi Carrito</li></a>
        </ul>
      </nav>
    </header>
    <article class="products-carousel">
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/chuleta-cerdo.png"
          alt=""
        />
        <p>
          <b>Chuleta de Cerdo</b>
          <br /><b>Precio:</b>₡12000
        </p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/muslo-pollo.png"
          alt=""
        />
        <p><b>Muslo Entero</b> <br /><b>Precio:</b>₡12000 <br /></p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/pescado-entero.png"
          alt=""
        />
        <p><b>Pescado Entero</b> <br /><b>Precio:</b>₡12000 <br /></p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/chuleta-cerdo.png"
          alt=""
        />
        <p>
          <b>Chuleta de Cerdo</b>
          <br /><b>Precio:</b>₡12000
        </p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/muslo-pollo.png"
          alt=""
        />
        <p><b>Muslo Entero</b> <br /><b>Precio:</b>₡12000 <br /></p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/pescado-entero.png"
          alt=""
        />
        <p><b>Pescado Entero</b> <br /><b>Precio:</b>₡12000 <br /></p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/chuleta-cerdo.png"
          alt=""
        />
        <p>
          <b>Chuleta de Cerdo</b>
          <br /><b>Precio:</b>₡12000
        </p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/muslo-pollo.png"
          alt=""
        />
        <p><b>Muslo Entero</b> <br /><b>Precio:</b>₡12000 <br /></p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/pescado-entero.png"
          alt=""
        />
        <p><b>Pescado Entero</b> <br /><b>Precio:</b>₡12000 <br /></p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/chuleta-cerdo.png"
          alt=""
        />
        <p>
          <b>Chuleta de Cerdo</b>
          <br /><b>Precio:</b>₡12000
        </p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/muslo-pollo.png"
          alt=""
        />
        <p><b>Muslo Entero</b> <br /><b>Precio:</b>₡12000 <br /></p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/pescado-entero.png"
          alt=""
        />
        <p><b>Pescado Entero</b> <br /><b>Precio:</b>₡12000 <br /></p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/chuleta-cerdo.png"
          alt=""
        />
        <p>
          <b>Chuleta de Cerdo</b>
          <br /><b>Precio:</b>₡12000
        </p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/muslo-pollo.png"
          alt=""
        />
        <p><b>Muslo Entero</b> <br /><b>Precio:</b>₡12000 <br /></p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/pescado-entero.png"
          alt=""
        />
        <p><b>Pescado Entero</b> <br /><b>Precio:</b>₡12000 <br /></p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/chuleta-cerdo.png"
          alt=""
        />
        <p>
          <b>Chuleta de Cerdo</b>
          <br /><b>Precio:</b>₡12000
        </p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/muslo-pollo.png"
          alt=""
        />
        <p><b>Muslo Entero</b> <br /><b>Precio:</b>₡12000 <br /></p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/pescado-entero.png"
          alt=""
        />
        <p><b>Pescado Entero</b> <br /><b>Precio:</b>₡12000 <br /></p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/chuleta-cerdo.png"
          alt=""
        />
        <p>
          <b>Chuleta de Cerdo</b>
          <br /><b>Precio:</b>₡12000
        </p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/muslo-pollo.png"
          alt=""
        />
        <p><b>Muslo Entero</b> <br /><b>Precio:</b>₡12000 <br /></p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/pescado-entero.png"
          alt=""
        />
        <p><b>Pescado Entero</b> <br /><b>Precio:</b>₡12000 <br /></p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/chuleta-cerdo.png"
          alt=""
        />
        <p>
          <b>Chuleta de Cerdo</b>
          <br /><b>Precio:</b>₡12000
        </p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/muslo-pollo.png"
          alt=""
        />
        <p><b>Muslo Entero</b> <br /><b>Precio:</b>₡12000 <br /></p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
      <div class="product-card">
        <img
          class="product-img"
          src="../media/images/products/pescado-entero.png"
          alt=""
        />
        <p><b>Pescado Entero</b> <br /><b>Precio:</b>₡12000 <br /></p>
        <button class="product-btn-add">+Agregar</button>
        <button class="product-btn-details">Detalles</button>
      </div>
    </article>
    <footer>
      © 2026 Copyright. Todos los derechos reservados David&Saul's Develop
      Systems 2026
    </footer>
  </body>
</html>
