<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="../styles/home.css" />
    <link rel="stylesheet" href="../styles/login.css" />
  </head>
  <body>
    <header>
      <nav class="nav-wrapper"></nav>
    </header>
    <main id="login-wrapper">
      <div class="container" id="container">
        <div class="form-container sign-up-container">
          <form id="register-form">
            <h2>Crear Cuenta</h2>
            <input type="text" id="register-name" placeholder="Nombre" required />
            <input type="text" id="register-lastname" placeholder="Apellido" required />
            <input type="email" id="register-email" placeholder="Correo electronico" required />
            <input type="tel" id="register-phone" placeholder="Telefono" required />
            <input type="password" id="register-password" placeholder="Contrasena" required />
            <button class="btn" type="submit">Registrarse</button>
          </form>
        </div>
        <div class="form-container sign-in-container">
          <form id="login-form">
            <h2>Iniciar Sesion</h2>
            <input type="email" id="client-email" placeholder="Ingrese su correo electronico" required />
            <input type="password" id="client-pws" placeholder="Ingrese su contrasena" required />
            <a href="recuperarPWS.html" class="footer-link">Olvido su contrasena?</a>
            <button class="btn" type="submit" id="login-btn">Iniciar Sesion</button>
          </form>
        </div>
        <div class="overlay-container">
          <div class="overlay">
            <div class="overlay-panel overlay-left">
              <h1>Bienvenido de nuevo</h1>
              <p>Inicia sesion para continuar</p>
              <button class="btn ghost" id="signIn">Iniciar Sesion</button>
            </div>
            <div class="overlay-panel overlay-right">
              <h1>Hola!</h1>
              <p>Crea una cuenta para empezar</p>
              <button class="btn ghost" id="signUp">Registrarse</button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script type="module" src="./components/footer.js"></script>
    <script type="module" src="../scripts/login.js"></script>
    <script type="module" src="../scripts/register.js"></script>
    <script>
      const signUpButton = document.getElementById("signUp");
      const signInButton = document.getElementById("signIn");
      const container = document.getElementById("container");
      signUpButton.addEventListener("click", () => container.classList.add("right-panel-active"));
      signInButton.addEventListener("click", () => container.classList.remove("right-panel-active"));
    </script>
  </body>
</html>
