<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Cuenta</title>
    <link rel="stylesheet" href="../styles/home.css" />
    <link rel="stylesheet" href="../styles/miCuenta.css" />
  </head>
  <body data-requires-auth="true">
    <header>
      <nav class="nav-wrapper"></nav>
      <div class="categories-container"></div>
    </header>
    <main class="acccount-wrapper"></main>
    <footer data-footer-root></footer>
    <script type="module" src="../views/components/footer.js"></script>
    <script type="module" src="../scripts/auth.js"></script>
    <script type="module" src="../scripts/miCuenta.js"></script>
  </body>
</html>
