<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar Contrasena</title>
    <link rel="stylesheet" href="../styles/home.css" />
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/recuperarPWS.css">
  </head>
  <body>
    <!-- Contenedor del header con la barra de navegacion -->
    <header>
      <nav class="nav-wrapper"></nav>
    </header>
    <!-- Contenedor principal con formulario para recuperar contrasena -->
    <main id="reset-wrapper">
      <div class="form-container reset-form-container">
        <form id="reset-password-form">
          <h2>Recuperar Contrasena</h2>
          <p class="reset-description">
            Ingresa tu correo electronico y te enviaremos un enlace para restablecer tu contrasena.
          </p>
          <input type="email" id="reset-email" placeholder="Correo electronico" required />
          <button class="btn" type="submit">Enviar Enlace</button>
          <p class="reset-link-text">
            <a href="login.html">Volver al inicio de sesion</a>
          </p>
        </form>
      </div>
    </main>
    <!-- Importa el footer y la logica para recuperar contrasena -->
    <script type="module" src="./components/footer.js"></script>
    <script type="module" src="../scripts/recuperarPWS.js"></script>
  </body>
</html>
