<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar Contrase&ntilde;a</title>
    <link rel="stylesheet" href="../styles/home.css" />
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/recuperarPWS.css">
  </head>
  <body>
    <header>
      <nav class="nav-wrapper"></nav>
    </header>
    <main id="reset-wrapper">
      <div class="form-container reset-form-container">
        <form id="reset-password-form">
          <h2>Recuperar Contrase&ntilde;a</h2>
          <p class="reset-description">
            Ingresa tu correo electr&oacute;nico y te enviaremos un enlace para restablecer tu contrase&ntilde;a.
          </p>

          <input type="email" id="reset-email" placeholder="Correo electr&oacute;nico" required />

          <button class="btn" type="submit">Enviar Enlace</button>

          <p class="reset-link-text">
            <a href="/views/login.html">Volver al inicio de sesi&oacute;n</a>
          </p>
        </form>
      </div>
    </main>
    <footer data-footer-root></footer>
    <script type="module" src="../views/components/footer.js"></script>
    <script type="module" src="../scripts/recuperarPWS.js"></script>
  </body>
</html>
