* {
  margin: 0;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.main-content {
  flex: 1;
}
header {
  background-color: rgb(26, 117, 207);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
#logo {
  width: 70px;
  padding: 10px;
}
#logo:hover {
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.397);
}
#search {
  border-radius: 5px;
}
.home-menu {
  display: flex;
  gap: 10px;
  list-style: none;
  color: azure;
}
.home-item {
  padding: 10px;
}
.home-item:hover {
  border-radius: 15px;
  background-color: rgba(0, 0, 255, 0.397);
}
.categories-carousel {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  height: 100px;
}
.category-card {
  text-align: center;
  margin: 10px auto;
}
.category-icon {
  width: 40px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
}
.category-icon:hover {
  border: 2px solid rgb(158, 207, 24);
}
.products-carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin: 20px auto;
}
.product-card {
  text-align: center;
  max-width: fit-content;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 15px 0 0;
  padding: 15px;
}
.product-img {
  width: 100px;
  border-radius: 10px;
}
.product-btn-add {
  background-color: #1a75cf;
  font-weight: bolder;
  border-radius: 10px;
}
.product-btn-details {
  background-color: #adb6be;
  font-weight: bolder;
  border-radius: 10px;
}
footer {
  background-color: #1a75cf;
  margin-top: auto;
}
