#login-wrapper {
  display: flex;
  justify-content: center;
  margin: auto 0;
}
#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
#client-email {
  border-radius: 10px;
  width: 90%;
  padding: 10px;
}
#client-pws {
  border-radius: 10px;
  width: 90%;
  padding: 10px;
}
#login-btn {
  background-color: #1822ad;
  font-weight: bolder;
  border-radius: 10px;
  color: rgb(243, 240, 255);
  width: 95%;
  padding: 10px;
}
